.container.contact-container {
  display: grid;
  grid-template-columns: 1fr; /* Deixa só uma coluna principal */
  justify-items: center; /* Centraliza o conteúdo da grid */
  gap: 2rem;
}

.contact-options {
  display: flex;
  flex-direction: row;
  justify-content: center; /* centraliza horizontalmente */
  gap: 1.5rem;
  flex-wrap: wrap; /* permite quebrar em linha nova no mobile */
}

.contact-option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  flex: 1 1 200px; /* todas caixas terão largura mínima de 200px e expandem igualmente */
  max-width: 250px; /* limite máximo para não ficar gigante */
}

.contact-option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact-option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contact-option h5 {
  color: var(--color-light);
}

.contact-option h4 {
  font-weight: 500;
}

/* Responsivo */
@media screen and (max-width: 1024px){
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px){
  .container.contact-container {
    width: var(--container-width-sm);
  }
}
