header {
  height: 100%;
  padding-top: 7rem;
  overflow: hidden;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;       /* espaço entre os botões */
  margin-top: 2.5rem;
  flex-wrap: wrap;    /* permite quebrar linha em telas pequenas */
}

.header-btn {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  color: var(--color-primary);
  font-weight: 500;
  border: 1px solid var(--color-primary);
}

.header-btn:hover {
  background-color: var(--color-white);
  color: #2c2c6c;
}

.header-btn-primary {
  font-weight: 500;
  background-color: var(--color-primary);
  color: #2c2c6c;
}

.header-btn-primary:hover {
  background-color: var(--color-white);
  color: #2c2c6c;
}

.header-socials {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  position: static;
}

.header-socials::after {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 3rem;
  }

  .section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .header-socials {
    display: none;
  }

  .header-btn,
  .header-btn-primary {
    white-space: normal;
    word-break: break-word; 
    max-width: 120px;
    padding: 0.75rem 1rem;
    text-align: center;
}
